<div class="main-content">
  <h2>Textes</h2>

  <%= erb :flash %>

  <form method="post" class="form-horizontal" enctype="multipart/form-data">

    <% @constants.each do |constant| %>
    <div class="form-group">
      <label for="<%= constant.key %>" class="col-sm-3 control-label"><%= constant.label %></label>
      <div class="col-sm-9">
        <% if constant.input_type=="textarea" %>
          <textarea class="form-control col-sm-12" rows="7" id="<%= constant.key %>" name="<%= constant.key %>"><%= constant.value %></textarea>
        <% elsif constant.input_type=="color" %>
          <input type="color" class="form-control col-sm-12" id="<%= constant.key %>" name="<%= constant.key %>" value="<%= constant.value %>" >
        <% elsif constant.input_type=="image" %>
          <input type="file" class="form-control col-sm-12" id="<%= constant.key %>" name="<%= constant.key %>" value="<%= constant.value %>" >
        <% else %>
          <input type="text" class="form-control col-sm-12" id="<%= constant.key %>" name="<%= constant.key %>" value="<%= constant.value %>" >
        <% end %>
        <span id="helpBlock" class="help-block"><%= constant.help %></span>
      </div>
    </div>
    <% end %>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Sauver les changements</button>
      </div>
    </div>

  </form>
</div>