
<%= js :fancybox %>
<%= css :fancybox %>
<h2><%= @page_title %></h2>

<div class="gallery" style="background-color: <%= @bgColor%>;">

    <% @groups.each do |group| %>
        <div class="sub">
            <% group.each do |panel| %>

                    <% panel.images.each do |img| %>
                        <% csrc = "images/panels/#{panel.folder_name}/#{img.file_normal}" %>
                        <a class="grouped_elements <%= img.id==panel.icon_id ? '' : 'display-none' %>" title="<%= img.comment %>" rel="group_<%= panel.id%>" href="<%= csrc %>">
                            <img class="max-width-500" src="<%= csrc %>" alt="<%= img.name %>"/>
                        </a>
                    <% end %>

            <% end %>

        </div>
    <% end %>
</div>


<script>
  $(document).ready(function(){
    $("a.grouped_elements").fancybox({
        overlayOpacity: 0.5,
        helpers : {
            title: {
                type: 'inside'
            }
        },
        hideOnContentClick: true,
        transitionIn: 'none',
        transitionOut: 'none'
    });
  });
</script>
