
<div class="main-content">

  <div class="links">
    <a href="/" class="btn btn-default" >Accueil</a>
    <a href="/galerie" class="btn btn-default <%= @mob_off%>" >Mobilier</a>
    <a href="/decoration" class="btn btn-default <%= @deco_off%>" >Objets de décoration</a>
    <h2><%= @page_title %></h2>
  </div>
  <% @panels.each do |panel| %>

    <div class="div-panel">



      <div class="image">
        <% panel.images.each do |img| %>
          <% csrc = "images/panels/#{panel.folder_name}/#{img.file_normal}" %>
          <a class="grouped_elements <%= img.id==panel.icon_id ? '' : 'display-none' %>" rel="group_<%= panel.id%>" href="<%= csrc %>"><img class="max-width-500" src="<%= csrc %>" alt="<%= img.name %>"/></a>
        <% end %>
        
      </div>
      <div class="title" ><%= panel.title %></div>
      <div class="subtitle" ><%= panel.subtitle %></div>
    </div>
  <% end %>

<script>
  $(document).ready(function(){
    $("a.grouped_elements").fancybox({
      transitionIn: 'none',
      transitionOut: 'none'
    });
  });
</script>

</div>