<!DOCTYPE html>
<html>
<head>
  <title>Hervé Bonnot - Création</title>
  <meta name="description" content="Ébénisterie Menuiserie Hervé BONNOT, Meubles contemporains, design. Atelier de menuiserie à Sennecey-lès-Dijon, France">
  <meta name="keywords" content="création meuble décoration unique">
  <meta name="author" content="Hervé Bonnot">
  <link rel="icon" type="image/png" href="/images/favicon.ico" />
  <%= css :application %>
</head>
<body>

  <div class="middle">

    <div class="header" style="background-image: url('<%= @bgTop %>');" >
        <h1 class="title">
            <img src="/images/branchette.png">
            HERVE BONNOT
            <img src="/images/branchette.png" class="reverse">
        </h1>
        <%= erb :_links %>
    </div>

    <div class="content">
        <%= yield %>
    </div>

    <div class="footer">
        <div>
            <img src="/images/signature.png" alt="Hervé Bonnot"/><br>
            7, Route de Chevigny<br>
            21800 Sennecy les Dijon<br>
            <br>
            Tel: 06 35 93 50 52<br>
            Mail: creation.hb@free.fr<br>
        </div>

        <div>
            <span class="footer-title">Liens</span>
            Mon site de mosaïque :<br>
            <a href="http://creation.hb.free.fr" style="margin-left: 10px;" target="_blank">creation.hb.free.fr</a>
        </div>

        <div>
            <span class="footer-title">Plan du site</span>
            <%= erb :_links %>
        </div>

    </div> 

</div>
</body>
</html>
