<div class="main-content">
  <h2>Galerie</h2>

  <table class="table" id="sortable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Vignette</th>
          <th title="Active tes panels pour les rendres visible aux visiteurs.">Actif</th>
          <th>Titre</th>
          <th>Images</th>
          <th>Trier</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @panels.each do |panel| %>
          <tr>
          <td><%= panel.panel_type %></td>
          <td>
            <% if panel.images.size > 0 %>
              <img width="100" src="/images/panels/<%= panel.folder_name %>/<%= panel.images.first.file_normal %>"/>
            <% end %>
          </td>
          <td>
            <span id="<%= panel.id%>" class="switch-is-active glyphicon <%= panel.is_active ? 'glyphicon-check' : 'glyphicon-unchecked' %> is-clickable"></span>
          </td>
          <td><%= panel.title %></td>
          <td><%= panel.images.size %></td>
          <td>
            <span class="id display-none"><%= panel.id %></span>
            <a class="btn  is-clickable sortable-handler" title="Cliquer - Déplacer pour changer l'ordre">
              <span class="glyphicon glyphicon-screenshot"></span>
            </a>
          </td>
          <td>
            <a href="/admin/gallery/<%= panel.id%>" class="btn" title="Editer">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="/admin/gallery/<%= panel.id%>/image" class="btn" title="Gérer les images">
              <span class="glyphicon glyphicon-picture "></span>
            </a>
            <a href="/admin/gallery/<%= panel.id%>/delete" class="btn" title="Supprimer" onclick="return confirm('Es-tu sûr de vouloir supprimer ce panel ?');">
              <span class="glyphicon glyphicon-trash "></span>
            </a>
          </td>
          </tr>        
        <% end %>
      </tbody>
  </table>

  <a class="btn btn-default" href="/admin/gallery/new">Nouveau panel</a>


</div>