<script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 5000
    });
  });
</script>
<style>


  .carousel-inner {
    width: 800px;
    height: 340px;
    max-height: 340px;
    overflow: hidden;
  }
  .carousel-inner img{
    width: 800px;
  }

  
  .intro-site{
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .section > .title{
    font-weight: bold;
    margin-top: 20px;
    color: #794044;
  }
  .section > .content{
    padding-top: 10px;
    padding-left: 30px;
  }

  .button-to-gallery{
    text-align: center
  }
  .button-to-gallery > a{
    width: 30%;
    padding: 15px 0px 15px 0px;
  }

</style>




  <div id="carousel" class="carousel slide is-clickable" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @images.each_with_index do |image, index| %>
      <div class="item <%= index==0 ? 'active' : '' %>">
        <img class="carouselImg" src="/images/panels/<%= image.panel.folder_name %>/<%= image.file_normal %>" alt="<%= image.name %>" />
        <div class="carousel-caption">
          <%= image.name %>
        </div>
      </div>
      <% end %>
      

    </div>

  </div>

  <div class="main-content">

    <div class="intro-site"><%= @text_intro %></div>

    <div class="button-to-gallery" >
      <a class="btn btn-default" href="/galerie">Mes créations</a>
    </div>

    <div class="section" >
      <div class="title">News</div>
      <div class="content"><%= @news %>
        
      </div>
    </div>

    <div class="section" >
      <div class="title">Contact</div>
      <div class="content">
        <div class="row"> 
        <div class="col-sm-4"> 
          <%= @address %>
        
          <a class="btn btn-default margin-top-20" href="/contact" >Me contacter</a>
        </div>
        <div class="col-sm-8">Ici la carte gmaps</div> 
      
      </div>
      </div>
    </div>
    
  </div>

</div>
