  <div id="carousel" class="carousel slide is-clickable" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% (0..@images.length-1).each do |i| %>
        <li data-target="#carousel" data-slide-to="<%= i %>" class="<%= i==0 ? 'active': '' %>" ></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @images.each_with_index do |image, index| %>
      <div class="item <%= index==0 ? 'active' : '' %>">
        <img class="carouselImg" src="/images/panels/<%= image.panel.folder_name %>/<%= image.file_normal %>" alt="<%= image.name %>" />
        <div class="carousel-caption">
          <%= image.name %>
        </div>
      </div>
      <% end %>
      

    </div>

  </div>

  <div class="main-content">

    <div class="intro-site"><%= @text_welcome %></div>

    <div class="button-to-gallery" >
      <a class="btn btn-default" href="/galerie">Mobilier</a>
      <a class="btn btn-default" href="/decoration">Objets de décoration</a>
    </div>

    <div class="section" >
      <div class="title">News</div>
      <div class="content"><%= @news %>
        
      </div>
    </div>

    <div class="section" >
      <div class="title">Contact</div>
      <div class="content">
        <div class="row"> 
        <div class="col-sm-4"> 
          <%= @address %>
          <br>
          <a class="btn btn-default margin-top-20" href="/contact" >Me contacter</a>
        </div>
        <div class="col-sm-8">Ici la carte gmaps</div> 
      
      </div>
      </div>
    </div>
    
  </div>

